<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sourire.community.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sourire.community.entity.Comment">
    <result column="id" property="id" />
        <result column="parentId" property="parentId" />
        <result column="type" property="type" />
        <result column="commentator" property="commentator" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="like_count" property="likeCount" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        parentId, type, commentator, gmt_create, gmt_modify, like_count, content
    </sql>

</mapper>
